.App {
  text-align: center;
}
.quiz-card-section-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}
.quiz-card-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  border-radius: 0.25rem;
  width: 320px;
}
.quiz-content-container {
  display: flex;
  flex-flow: column wrap;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  row-gap: 0.5rem;
}
